<h1>Edit device type</h1>

<form {{action 'update' on='submit'}}>
  <ul>
    <li>
      <label for="name">name</label>
      {{input name='name' value=model.name}}
    </li>
    <li>
      controls
      <ul class="controls">
        {{#each controls as |control|}}
          <li>
            {{add-control onRemove=(action 'destroyControl') control=control}}
          </li>
        {{/each}}
        <li>
          <button {{action 'addControl'}}>Add control</button>
        </li>
      </ul>
    </li>
  </ul>
  <input type="submit" value="Update"/>
  {{#link-to 'device-types.index'}}Back to device types{{/link-to}}
</form>
