{{outlet}}

<h1>Device types</h1>

{{#link-to 'device-types.new' class="button"}}New device type{{/link-to}}

<table>
  <thead>
    <tr>
      <th>Device type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |type|}}
    <tr>
      <td>
        {{type.name}}
      </td>
      <td>
        {{#link-to 'device-types.edit' type}}Edit{{/link-to}}
        <a href="#" {{action 'destroy' type}}>Delete</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
